%div{class: 'w-9/12 m-auto'}
  %h1.text-3xl= @video.title
  %h2.text-2xl= @video.video.filename.to_s

  - if @video.video.attached?
    %div.text-center
      %video.outline-none.w-full.h-full.max-h-700px.bg-black{:controls => "", :src => "#{rails_blob_path(@video.video)}", :type => "video/mp4"}

  .m-4
    %h2 This video's tags
    .m-4
      - @tags.each do |tag|
        =render tag
        = link_to 'delete', tagging_path(1, params: { video_id: @video.id, tag_id: tag.id }), method: :delete

  .m-4
    %h2 The Others
    .m-4
      - @all_tags.each do |tag|
        =render tag
        = link_to 'add', taggings_path(params: { video_id: @video.id, tag_id: tag.id }), method: :post
