- if @video.video.attached?
  %p= @video.title
  %br/
  %video{:controls => "", :src => "#{rails_blob_path(@video.video)}", :type => "video/mp4"}

%h2 This video's tags
- @tags.each do |tag|
  = link_to tag.name, tag

%h2 All tags
- @all_tags.each do |tag|
  = link_to tag.name, tag
  = link_to 'add', taggings_path(params: { video_id: @video.id, tag_id: tag.id }), method: :post
  = link_to 'delete', tagging_path(1, params: { video_id: @video.id, tag_id: tag.id }), method: :delete

