!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    %title Shiki
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.bg-gray-900.custom-font
    = render 'layouts/header'
    %main.p-5.text-gray-300
      %div{class: 'w-9/12 m-auto'}
        - flash.each do |message_type, message|
          - if message_type == 'alert'
            .m-4.p-4.rounded.border.border-red-400= message
          - else
            .m-4.p-4.rounded.border.border-green-400.text-green-400= message
      = yield
